@import './varibale';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Roboto:wght@700;900&family=Tajawal:wght@300;400;500;700;800;900&display=swap');

ul {
    list-style: none;
    padding: 4px 15px;
}

/* In your CSS file */
.custom-modal-button {
    background: #ffffff;
    border-color: #d9d9d9;
    color: rgba(0, 0, 0, 0.88);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

.custom-modal-button:hover {
    background-color: $deleteColor !important;
    color: #ffffff;
}

.quill {
    direction: ltr;
}

.ant-form-item-label {
    label {
        font-weight: 700;
    }
}

.ql-snow .ql-color-picker .ql-picker-item {
    border: 1px solid #2e3192;
}

.custom-table .ant-table-thead>tr>th {
    background-color: #f0f0f0;
    /* لون خلفية الرأس */
    text-align: center;
    /* توسيط النص */
    font-weight: bold;
}

.custom-table .ant-table-tbody>tr>td {
    text-align: center;
    /* توسيط محتوى الأعمدة */
}

.custom-table .ant-table-tbody>tr:hover {
    background-color: #e6f7ff;
    /* لون خلفية عند تمرير الماوس */
}

.custom-table .ant-table-pagination {
    text-align: right;
    /* محاذاة عنصر التنقل */
}


.welcome__page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 150px);

    @media screen and (width < 900px) {
        min-height: calc(100vh - 160px);
    }

    .title_Dynamic {
        background-color: rgba($secondColor, 0.1);
        border: 1px solid rgba($secondColor, 0.52);
        padding: 30px 50px;
        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
        text-align: center;
        border-radius: 10px !important;

        h3 {
            font-size: 1.2rem;
            font-weight: 600;
            color: $mainColor;
        }

        @media screen and (max-width: 767px) {
            padding: 20px 30px;

            h3 {
                font-size: 1.2rem !important;
            }
        }
    }
}

.ant-table-wrapper .ant-table-pagination.ant-pagination {
    display: flex;
    gap: 10px;
}

.ql-editor{
    height: 350px;
}